/* basic rules */
#ci_panel h1 { font-size:28px; }
#ci_panel h2 { font-size:24px; }
#ci_panel h3 { font-size:20px; }
#ci_panel h4 { font-size:16px; }
#ci_panel h5 { font-size:12px; }
#ci_panel h6 { font-size:11px; }
#ci_panel p { margin-bottom:10px; }
#ci_panel a { text-decoration:none; }
#ci_panel ul li { padding:0; margin:0; }
#ci_panel abbr,acronym { border-bottom-width:0; }
#ci_panel strong { font-weight:bold; }
#ci_panel em { font-style:italic; }
#ci_panel ins { text-decoration:none; }
#ci_panel del { text-decoration:line-through; }

/* basic helpers */
#ci_panel .mt5 { margin-top:5px; }
#ci_panel .mb5 { margin-bottom:5px; }
#ci_panel .mt10 { margin-top:10px; }
#ci_panel .mb10 { margin-bottom:10px; }
#ci_panel .mt15 { margin-top:15px; }
#ci_panel .mb15 { margin-bottom:15px; }
#ci_panel .mt20 { margin-top:20px; }
#ci_panel .mb20 { margin-bottom:20px; }

/* clearfix */
.group:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html .group { height:1%; }
.group { min-height:1px; }

/* panel styles */
#ci_panel { width:100%; }
#ci_header { background: #0E3F58; }
#ci_header img { display:block; }
#ci_main { background:#fff; position:relative;}
#ci_sidebar { width:199px; float:left; }
#ci_sidebar_back { position:absolute; top:0; bottom:0; width:199px; background: #222; }
#ci_options { min-height:500px; }
#ci_options_inner { margin-left:199px; padding:13px 20px 0 20px; }

/* sidebar styles */
#ci_sidebar ul { margin:0; }
#ci_sidebar ul li a { display:block; outline:0; font-size:14px; line-height: 18px; padding:7px 7px 8px 7px; background:#222; color:#eeeeee; border-bottom:solid 1px #333; position:relative; }
#ci_sidebar ul li a:hover { background:#000; color:#2ea2cc; }
#ci_sidebar ul li a:hover:before { color:#2ea2cc; }
#ci_sidebar ul li a.active { display:block; background:#1E8CBE; border-bottom:none; color: #FFFFFF; text-shadow: none; position:relative; width:185px; }
#ci_sidebar ul li a.active:after { border: 8px solid rgba(0, 0, 0, 0); content: " "; height: 0; margin-top: -8px; pointer-events: none; position: absolute; right: 0; top: 50%; width: 0; border-right-color: #fff; }
#ci_sidebar ul li a span { display:inline-block; padding:0 0 0 5px; }
#ci_sidebar ul li a:before { font-family: dashicons; font-size:18px; position:relative; top:3px; margin-right:5px; color:#999999; }
#ci_sidebar ul li a.active:before { color:#fff; }

/* panel icons*/
#archive_options a:before { content: "\f163"; }
#background_options a:before { content: "\f138"; }
#banner_options a:before { content: "\f175"; }
#blog_options a:before { content: "\f489"; }
#business_options a:before { content: "\f338"; }
#buysellads_options a:before { content: "\f313"; }
#color_options a:before { content: "\f100"; }
#contact_options a:before { content: "\f466"; }
#custom_css a:before { content: "\f499"; }
#display_options a:before { content: "\f115"; }
#ecommerce_options a:before { content: "\f174"; }
#feedburner_options a:before { content: "\f303"; }
#gallery_options a:before,
#galleries_options a:before{ content: "\f233"; }
#google_options a:before { content: "\f239"; }
#home_options a:before { content: "\f102"; }
#newsletter_options a:before { content: "\f465"; }
#pagination_options a:before { content: "\f229"; }
#portfolio_options a:before { content: "\f161"; }
#post_types_options a:before { content: "\f133"; }
#product_options a:before { content: "\f323"; }
#site_options a:before{ content: "\f116";  }
#social_options a:before { content: "\f307"; }
#twitter_options a:before { content: "\f301"; }
#video_options a:before { content: "\f126"; }
#event_options a:before,
#events_options a:before { content: "\f145"; }
#artists_options a:before,
#artist_options a:before { content: "\f110"; }
#discography_options a:before,
#audio_options a:before { content: "\f127";  }
#titles_options a:before { content: "\f138"; }
#personnel_options a:before { content: "\f110"; }
#services_options a:before { content: "\f180"; }
#application_options a:before { content: "\f111"; }
#slider_options a:before { content: "\f232"; }
#sermons_options a:before { content: "\f331"; }
#advanced_options a:before { content: "\f107"; }
#work_options a:before { content: "\f107"; }
#package_options a:before { content: "\f175"; }

/* IgnitionConf Specific Icons */
.ci-ignitionconf #about_options,
.ci-ignitionconf #sponsors_options,
.ci-ignitionconf #schedule_options,
.ci-ignitionconf #speaker_options,
.ci-ignitionconf #registration_options {
	margin-left:15px;
}
.ci-ignitionconf #about_options a:before,
.ci-ignitionconf #sponsors_options a:before,
.ci-ignitionconf #schedule_options a:before,
.ci-ignitionconf #speaker_options a:before,
.ci-ignitionconf #registration_options a:before {
	content: "\f345";
}

/* Mustache Specific Icons */
.ci-mustache #intro_options a:before,
.ci-mustache #portfolio_options a:before,
.ci-mustache #contact_options a:before,
.ci-mustache #services_options a:before,
.ci-mustache #clients_options a:before,
.ci-mustache #team_options a:before{
    content: "\f345";
    margin-left:15px;
}

.ci_save { background:#104864; padding:10px 20px; text-align:right; border-top:solid 1px #2B566C; color:#fff; }
.ci_save input { float:right; }
.ci_save_top input { position:relative; top:2px; }
.ci_save_top p { float:left; margin-top:5px !important; }
.ci_save_top p a { color:#FFCC00; }
#ci-reset-box { width:660px; padding:20px 40px 25px 0; }
#ci_panel .success { position:fixed; top:0; left:0; bottom:0; right:0; width:100%; z-index:100000; padding:14px; color:#fff; background:rgba(0,0,0,0.7); display:none; font-weight:bold; text-align:center; }
#ci_panel .success p { background:#000; border:solid 5px #fff; width:300px; padding:50px 0; position:absolute; left:50%; top:50%; margin:-75px 0 0 -150px; font-size:20px; }
#ci_panel p.modal-working { background: #006600 url(img/loading.gif) no-repeat 70px 57px; }
#ci_panel p.modal-saved { background: #66CC00; }

#ci_panel .resetbox { position:fixed; top:0; left:0; width:100%; z-index:100; padding:14px; color:#fff; background:red!important; font-weight:bold; text-align:center; }
#ci_panel .up-preview { margin:10px 0; }
#ci_panel .up-preview-bg { margin:0px auto; width: 88px; }
#ci_panel .up-preview-bg .swatch{ display: block; float: left; width: 10px; height: 10px; border: 1px solid #000; margin: 5px; cursor: pointer; }
#ci_panel .up-preview-bg .white{ background-color: #fff; }
#ci_panel .up-preview-bg .grey{ background-color: #999; }
#ci_panel .up-preview-bg .black{ background-color: #000; }
#ci_panel fieldset.social-set { margin-bottom:20px; padding-bottom:20px; border-bottom:solid 1px #ccc; }

/* field styles */
#ci_panel .tab { font-size:12px; }
#ci_panel .tab fieldset,
#ci_panel .tab fieldset fieldset.set { border:solid 1px #cfcfcf; padding:20px 20px 10px 20px; background: #fafafa; }
#ci_panel .tab fieldset legend { font-size: 15px; }
#ci_panel .tab fieldset fieldset { padding:0; border:0; }
#ci_panel .tab label { display:block; margin-bottom:5px; font-weight:bold; font-size:13px; }
#ci_panel .tab .terms_checklist label { display: inline-block; }
#ci_panel .tab label.radio { font-weight:normal; padding-top:2px; }
#ci_panel .tab input,.tab textarea { margin-bottom:10px; width:100%; }
#ci_panel .tab input[type=button], .tab input[type=submit] { width:auto !important; }
#ci_panel .tab input[type=text], .tab input[type=password], .tab text area { padding:10px 5px; -webkit-box-shadow:inset 1px 1px 5px #f1f1f1; -moz-box-shadow:inset 1px 1px 5px #f1f1f1; box-shadow:inset 1px 1px 5px #f1f1f1; }
#ci_panel .tab input[type=checkbox] + label, .tab input[type=radio] + label { position:relative; top:-5px; }
#ci_panel .tab p input[type=checkbox] + label { top: 0; }
#ci_panel .set input[type=radio] + label { margin-bottom:3px; }
#ci_panel .guide + label { margin-bottom:10px; }
#ci_panel .tab p.guide { background:#fffce6; padding:5px 10px 12px 40px; margin-top:0; border:solid 1px #eeeac9; }
#ci_panel .tab p.guide:before { content: "\f488"; font-family: dashicons; font-size:18px; position:relative; top:3px; margin-left:-25px; padding-right:5px; color:#ff4800; }
#ci_panel .tab input.radio { width:auto; clear:both; vertical-align:middle; }
#ci_panel .tab input.check { width:auto; clear:both; vertical-align:middle; }
#ci_panel .tab label input.check { margin: 0 6px 0 0; }
#ci_panel .tab label input.radio { margin: 3px 5px 5px 5px; }
#ci_panel .tab .set { margin-bottom:20px; }
#ci_panel .tab .ci-advanced { background:rgba(255,0,0,0.1); }
#ci_panel .tab img { max-width: 414px; }
#ci_panel .tab .terms_checklist { padding: 10px 10px 0px 10px; height: auto; max-height: 200px; overflow: auto; border: 1px solid #DDD; }
#ci_panel .tab .terms_checklist ul { margin-left: 15px; }

/* resetting color picker inputs */
#ci_panel .tab .wp-picker-input-wrap input[type=text] { width: 65px; height: auto; display: inline-block; margin-bottom: 0; padding: 3px 5px; }
#ci_panel .tab .wp-picker-clear { margin-bottom: 0; }

/* theme info */
#ci-theme-info { margin:20px 0 40px; width:700px; color:#f1f1f1; -moz-box-shadow:5px 5px rgba(0,0,0,0.1); -webkit-box-shadow:5px 5px rgba(0,0,0,0.1); }
.ci-theme-meta { width:100%; border-top:solid 1px #4c4c4c; }
.ci-theme-meta tr.odd td { background:#333; }
.ci-theme-meta td { background:#444; padding:10px; border-bottom:solid 1px #4c4c4c; font:bold 12px "Helvetica Neue", Helvetica, Tahoma, Arial, Verdana, sans-serif; }
.ci-theme-meta td a { color:#ffcc00; text-decoration:none; }
.ci-theme-meta td.cell-title { width:30%; font-weight:normal; }

/* Maps */
#admin_map_canvas { width:415px; height:300px; overflow:hidden; margin-bottom:10px; }

/* Custom CSS */
#ci_panel #c_css { font-style: Monaco, "Bitstream Vera Sans Mono","Lucida Console", Terminal,monospace; height:500px; }

@media only screen and (max-width: 768px) {
	#ci_panel { width:100%; }
	#ci_sidebar_back, #ci_sidebar { width:169px;  }
	#ci_options_inner { margin-left:169px; }
	#ci_sidebar ul li a { font-size:12px; }
	#ci_sidebar ul li a.active { width:155px; }
	#ci_sidebar ul li a:before { font-size:14px; margin-right:0; }
}

@media only screen and (max-width: 480px) {
	#ci_sidebar_back, #ci_sidebar { width:40px;  }
	#ci_options_inner { margin-left:40px; }
	#ci_sidebar ul li a.active { width:26px; }
	#ci_sidebar ul li a span  { display:none; }
	#ci_sidebar ul li a:before { font-size:20px; left:3px; }
}