/* GLOBAL: #Basic Styles
================================================== */
	#wrap { background: url(../images/colors/purple2/bg.png) no-repeat top center; }
	body { border-top:solid 5px #ec13ac; border-bottom:solid 5px #ec13ac; background: #1d1d1d; color: #fff; }	

/* GLOBAL: #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 { color: #fff; }
	#footer h3.widget-title	{ color:#b3b3b3; }	
	strong { color: #fff; }
	pre { background: #333; }
	abbr, acronym, dfn { border-bottom: 1px dotted #666; }
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #fff; font-style: italic; }
	blockquote { border-left: 3px solid #ddd; }
	blockquote cite { color: #ddd; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }


/* GLOBAL: #Links
================================================== */
	a, a:visited { color: #ec13ac; }
	a:hover { color: #ec13ac; border-bottom:dotted 1px #ccc; }


/* GLOBAL: #Floats
================================================== */
	.alignleft { float:left; margin:5px 15px 15px 0; }
	.alignright { float:right; margin:5px 0 15px 15px; }
	.aligncenter { clear: both;	display: block;	margin-left: auto; margin-right: auto; }
	

/* GLOBAL: #Buttons
================================================== */
	.button, button, input[type="submit"], input[type="reset"],	input[type="button"] { background: #eee; border: 1px solid #aaa; border-top: 1px solid #ccc; border-left: 1px solid #ccc; color: #444; }
	.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover { color: #222; background: #ddd; border: 1px solid #888; border-top: 1px solid #aaa; border-left: 1px solid #aaa; }
	.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active { border: 1px solid #666; background: #ccc; }	
	a.action-btn, a.ci-more-link { background: #ec13ac; color:#fff; }	


/* GLOBAL: #Forms
================================================== */
	input[type="text"],	input[type="password"],	input[type="email"], textarea { background: #252525; border:solid 1px #2e2e2e; color: #ccc; width: 210px; }
	input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus { background: #252525; border:solid 1px #2e2e2e; color: #fff; }
	label span,	legend span { color: #444; }


/* GLOBAL: #Header
================================================== */
	.section-title { background: #ec13ac; background: #ec13ac; }
	

/* GLOBAL: #Footer
================================================== */
	#footer-wrap { background: url(../images/colors/purple2/bg_footer.png) no-repeat bottom center; }
	#footer { border-top:solid 5px #ec13ac; }
	

/* GLOBAL: #Widgets
================================================== */
	.sub-head { color:#bebebe; }
	.main-head { color:#fff; }	
	.latest-item { background: #232323; }			
	.widget ul li { border-bottom:solid 1px #363636; }
	

/* MODULE: #Main navigation
================================================== */
	.sf-menu a { color:#fff; }
	.sf-menu li li { background: #232323; }
	.sf-menu li:hover { background: #ec13ac; }
	.sf-menu > li > a:hover, .sf-menu > li.active a, .current-menu-item > a, .current-menu-parent > a{ color:#ec13ac; }
	

/* MODULE: #Homepage slider
================================================== */
	.slider { background: url(../images/bg_slider.png) no-repeat bottom center; }
	.slide-text { background: #ec13ac; }
	.flex-control-paging li a.flex-active { background: #ec13ac; background: #ec13ac; }


/* MODULE: #News
================================================== */
	.post-intro h2 a { background: #ec13ac; background: #ec13ac; color:#fff; }
	.post-intro h2 a:hover { background: #000; background: rgba(0,0,0,0.7); color:#ec13ac; }
	.meta .post-date { color:#ccc; }


/* MODULE: #Comments
================================================== */
	.post-comments { border-top:solid 5px #ec13ac; }
	.post-comments .comment-copy { background: #252525; border:solid 1px #2e2e2e; }
	.comment-reply-link, .btn-reply { color:#fff; background: #ec13ac; line-height: 1; }
	.comment-reply-link:hover, .btn-reply:hover { color:#fff; border:none; }


/* MODULE: #Comment Form
================================================== */
	#form-wrapper { border-top:solid 5px #ec13ac;  }


/* MODULE: #Discography
================================================== */
	#meta-wrap { border-color:#434343; border-color: rgba(255,255,255,0.2); }
	
	/* tracklisting */
	.tracklisting li { background: #232323; }
	.tracklisting .track-no { background: #ec13ac; }		
	.tracklisting .track-listen { background: url(../images/bg_speaker.png) no-repeat; }
	.tracklisting a.sm2_button { background: url(../images/icon_playback.png) no-repeat; }
	.tracklisting a.sm2_button.sm2_playing { background-position: 0 -30px; }

	/* share buttons */
	#sharable { border-left:solid 1px #434343; border-left: solid 1px rgba(255,255,255,0.2); }


/* MODULE: #Events
================================================== */
	#map, #map h3, #map h4, #map p { color:#232323; }
	#map p { color:#555; }
	
	
/* Paging Styles
================================================== */
	#paging a { background: #232323; border:solid 1px #3B3B3B; }
	#paging a:hover { background: #ec13ac; border:solid 1px #ec13ac; color:#fff; }
	#paging span.current, #paging .pages, #paging .pages { background: #ec13ac; border:solid 1px #ec13ac; }
	
	
/* WIDGET: #Tour Dates
================================================== */
	.widget .tour-dates li, .events .tour-dates li { background: #232323; margin-bottom:1px; border-bottom:none; }
	.tour-date { background: #ec13ac; }


/* WIDGET: #Latest Album
================================================== */
	.album-info {  background: #232323; }
	.album-release { color:#bebebe; }

	
/* WIDGET: #Latest Videos
================================================== */
	.latest-video a span { background: url(../images/btn_play.png) no-repeat; }


/* WIDGET: #Flickr
================================================== */
	.flickr_badge_image { background: #222; border:solid 1px #363636; }


/* WooCommerce Specifics
================================================== */
table.shop_table th { background-color: #ec13ac; }