#menu-posts-cpt_discography .dashicons-admin-post:before { content: "\f127"; }
#menu-posts-cpt_events .dashicons-admin-post:before { content: "\f145"; }
#menu-posts-cpt_videos .dashicons-admin-post:before { content: "\f236"; }
#menu-posts-cpt_slider .dashicons-admin-post:before { content: "\f475"; }
#menu-posts-cpt_galleries .dashicons-admin-post:before { content: "\f161"; }
#menu-posts-cpt_artists .dashicons-admin-post:before { content: "\f110"; }



