/*
============================================================================
WooCommerce CSSIgniter Theme BoilerPlate
============================================================================
*/

/*
============================================================================
Product Page -- Thumbnails
============================================================================
*/

div.product div.images {

}

div.product div.images img {
  height: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

div.product div.images div.thumbnails {
  padding-top: 10px;
}

div.product div.images div.thumbnails:after {
  content: "";
  display: block;
  clear: both;
}

div.product div.images div.thumbnails a {
  float: left;
  margin-right: 5%;
  width: 30%;
}

div.product div.images div.thumbnails a img {
}

div.product div.images div.thumbnails a.last {
  margin-right: 0;
}

div.product div.images div.thumbnails a.first {
  clear: both;
}

/*
============================================================================
Product Page -- Tabs 
============================================================================
*/


div.product .woocommerce-tabs {
  clear: both;
}

div.product .woocommerce-tabs ul.tabs {
  list-style: none;
  overflow: hidden;
  position: relative;
}

div.product .woocommerce-tabs ul.tabs li {
  display: inline-block;
  position: relative;
  z-index: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}

div.product .woocommerce-tabs ul.tabs li a {
  display: inline-block;
}

div.product .woocommerce-tabs ul.tabs li a:hover {
  text-decoration: none;
}

div.product .woocommerce-tabs ul.tabs li.active {
  z-index: 2;
}

div.product .woocommerce-tabs ul.tabs li.active a {

}

div.product .woocommerce-tabs ul.tabs li.active:before {
}

div.product .woocommerce-tabs ul.tabs li.active:after {
}

div.product .woocommerce-tabs ul.tabs li:before,
div.product .woocommerce-tabs ul.tabs li:after {

}

div.product .woocommerce-tabs ul.tabs li:before {
;
}

div.product .woocommerce-tabs ul.tabs li:after {

}

div.product .woocommerce-tabs ul.tabs:before {

}

/*
============================================================================
Product Page -- Product Summary 
============================================================================
*/


div.product .product_title,
.product_title.page-title {
  clear: none;
  text-transform: none !important;
} 

div.product p.price {
}

div.product p.price del {

}

div.product p.stock {
  font-size: 0.92em;
  padding: 2px 0 0 0;
}


div.product div.summary {

}

div.product div.social {
  text-align: right;
  margin: 0 0 1em;
}

div.product div.social span {
  margin: 0 0 0 2px;
}

div.product div.social span span {
  margin: 0;
}

div.product div.social span .stButton .chicklets {
  padding-left: 16px;
  width: 0;
}

div.product div.social iframe {
  float: left;
  margin-top: 3px;
}

.stock {
  color: green;
}

.out-of-stock {
  color: red;
}

p.cart {
  float: right;
}

form.cart {
  margin-bottom: 24px;
}

form.cart:after {
  content: "";
  display: block;
  clear: both;
}

form.cart div.quantity {
  float: left;
  margin: 0 4px 0 0;
}

form.cart table {
  font-size: 12px;
  border-width: 0 0 1px 0;
}

form.cart table td {
  padding: 4px 4px 4px 0;
}

form.cart table div.quantity {
  float: none;
  margin: 0;
  width: 72px;
}

form.cart table small.stock {
  display: block;
  float: none;
}

form.cart .variations label {
  font-weight: bold;
}

form.cart .variations select {
  width: 100%;
  float: left;
}

form.cart .button {
  vertical-align: middle;
  float: left;
}

span.onsale {
  color: #fff;
  min-height: 32px;
  min-width: 32px;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  line-height: 32px;
  top: 6px;
  right: 6px;
  margin: 0;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  background: #a1c41e;
  background: -webkit-gradient(linear, left top, left bottom, from(#a1c41e), to(#8fae1b));
  background: -webkit-linear-gradient(#a1c41e, #8fae1b);
  background: -moz-linear-gradient(center top, #a1c41e 0%, #8fae1b 100%);
  background: -moz-gradient(center top, #a1c41e 0%, #8fae1b 100%);
  text-shadow: 0 -1px 0 #8fae1b;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.type-product span.onsale {
	left: 6px;
	right: auto;
}

.type-product .from {
	font-size: 0.75em !important;
	color: #fff;
}

/*
============================================================================
Product Page -- Related Products 
============================================================================
*/

.products ul,
ul.products {
  margin: 0;
  padding: 0;
  list-style: none outside;
}

.products ul li,
ul.products li {
  list-style: none outside;
}

.related:after,
.upsells.products:after {
  content: "";
  display: block;
  clear: both;
}

.related ul.products,
.upsells.products ul.products,
.related ul,
.upsells.products ul {
  float: none;
}

.related ul.products li,
.upsells.products ul.products li,
.related ul li,
.upsells.products ul li {

}

.related ul.products li img,
.upsells.products ul.products li img,
.related ul li img,
.upsells.products ul li img {
  height: auto;
}

ul.products {
  clear: both;
  margin-left: 0;
  padding-left: 0;
}

ul.products li {
  float: left;
  margin: 0 3.8% 2.992em 0;
  padding: 0;
  position: relative;
  width: 22.05%;
  margin-left: 0;
}

ul.products li .onsale {
  top: 0;
  right: 0;
  left: auto;
  margin: -6px -6px 0 0;
}

ul.products li h3 {
  padding: .5em 0;
  margin: 0;
  font-size: 1em;
}

ul.products li a {
  text-decoration: none;
}

ul.products li a img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

ul.products li a:hover img {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}

ul.products li strong {
  display: block;
}

ul.products li .price {
  display: block;
  font-weight: normal;
  margin-bottom: .5em;
}

ul.products li .price del {
  font-size: 11px;
  line-height: 10px;
  margin: -2px 0 0 0;
  display: block;
}

ul.products li .price ins {
  background: none;
}

ul.products li .price .from {
  font-size: 11px;
  line-height: 10px;
  margin: -2px 0 0 0;
  display: block;
  text-transform: uppercase;
  color: #ccc;
}

ul.products li.first {
  clear: both;
}

ul.products li.last {
  margin-right: 0;
}

.woocommerce-ordering {
  margin-bottom: 24px;
}

/*
============================================================================
Rest of WooCommerce default styles 
============================================================================
*/

.clear {
  clear: both;
}

.nobr {
  white-space: nowrap;
}

.woocommerce-message,
.info,
.woocommerce-error,
.woocommerce-info {
  padding: 0.75em 1em 0.65em 3em;
  margin: 0 0 2em !important;
  position: relative;
  border-radius: 2px;
  background: none repeat scroll 0 0 #232323;
  list-style: none outside;
  border: 1px solid rgba(255, 255, 255, 0.07);
}

.woocommerce-message .button,
.info .button,
.woocommerce-error .button,
.woocommerce-info .button{
	margin-top: -1px;
}

.woocommerce-message:before,
.info:before,
.woocommerce-error:before,
.woocommerce-info:before {
  content: "";
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  top: 0.95em;
  left: 1em;
  background-color: white;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

.woocommerce-message .button,
.info .button,
.woocommerce-error .button,
.woocommerce-info .button {
  float: right;
}

.woocommerce-message li,
.info li,
.woocommerce-error li,
.woocommerce-info li {
  list-style: none outside;
}

.woocommerce-message:after,
.info:after,
.woocommerce-error:after,
.woocommerce-info:after {
  content: "";
  display: block;
  clear: both;
}

.woocommerce-message:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAYAAAAPDoR2AAAAN0lEQVQIHXWMQQ4AMAjCxv7/ZxZIanbYPIhSUbbXo2Jqf0BsA4mjgU1ioAVpSSrDVbPzFgPt7QH7qwoJ3MDCYgAAAABJRU5ErkJggg==) center no-repeat #8fae1b;
}

.info:before,
.woocommerce-info:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAFCAYAAABvsz2cAAAAG0lEQVQIHWP8DwQMQMACxIwwBliECcQDATgDAMHrBQqJ6tMZAAAAAElFTkSuQmCC) center no-repeat #18919c;
}

.woocommerce-error:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAFCAYAAABvsz2cAAAAHUlEQVQIHWP8DwQMQMAEIkAAzmABchhBIiAGWA0Ar6MFCigWCYMAAAAASUVORK5CYII=) center no-repeat #b81c23;
}

p small {
  color: #999;
}

p.demo_store {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  background: #f7f5c6;

  background: -webkit-gradient(linear, left top, left bottom, from(#f7f5c6), to(#eeeac1));
  background: -webkit-linear-gradient(#f7f5c6, #eeeac1);
  background: -moz-linear-gradient(center top, #f7f5c6 0%, #eeeac1 100%);
  background: -moz-gradient(center top, #f7f5c6 0%, #eeeac1 100%);

  padding: 8px 0;
  border: 1px solid #EEEAC1;
  color: #747165;
  z-index: 999999;
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);

}

small.note {
  display: block;
  color: #999;
  font-size: 11px;
  line-height: 21px;
  margin-top: 10px;
}

#breadcrumb {
  margin: 0;
  padding: 5px 10px;
  font-size: 0.92em;
  color: #999;
	background: rgba(255, 255, 255, 0.05);
}

#breadcrumb:after {
  content: "";
  display: block;
  clear: both;
}

#breadcrumb a {
  color: #999;
}

/* =Product Page
-------------------------------------------------------------- */

div.product {
  position: relative;
  margin-bottom: 0;
}


/* =Buttons
-------------------------------------------------------------- */
a.button,
button.button,
input.button,
#review_form #submit {

}

a.button.loading,
button.button.loading,
input.button.loading,
#review_form #submit.loading {

}

a.button.loading:before,
button.button.loading:before,
input.button.loading:before,
#review_form #submit.loading:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../images/woocommerce/ajax-loader.gif) center no-repeat rgba(255, 255, 255, 0.65);
}

a.button.added:before,
button.button.added:before,
input.button.added:before,
#review_form #submit.added:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  top: 0.35em;
  right: -26px;
  text-indent: 0;
  background: url(../images/woocommerce/success.png) no-repeat;
}

a.button:hover,
button.button:hover,
input.button:hover,
#review_form #submit:hover {

}

a.button:active,
button.button:active,
input.button:active,
#review_form #submit:active {
}

a.button.alt,
button.button.alt,
input.button.alt,
#review_form #submit.alt {

}

a.button.alt:hover,
button.button.alt:hover,
input.button.alt:hover,
#review_form #submit.alt:hover {

}

input.button {
  padding-top: 6px;
  padding-bottom: 7px;
}

.cart .button,
.cart input.button {
  float: none;
}

/* =Reviews/comments
-------------------------------------------------------------- */


#reviews h2 small {
  float: right;
  color: #999;
  margin: 10px 0 0 0;
}
#reviews h2 small a {
  text-decoration: none;
  color: #999;
}
#reviews h3 {
  margin: 0;
	font-size: 1.2em;
}
#reviews #respond {
  margin: 0;
  border: 0;
  padding: 0;
}
#reviews #comment {
  height: 75px;
}
#reviews #comments .add_review:after {
  content: "";
  display: block;
  clear: both;
}
#reviews #comments h2 {
  clear: none;
}

#review_form #respond p.stars {
	display: inline-block;
	margin: 2px 0 0 10px;
	position: relative;
	top: 3px;
}

#review_form .comment-form-comment label {
	display: block;
}

#reviews #comments ol.commentlist {
  margin: 0;
  width: 100%;
  background: none;
	list-style: none;
}
#reviews #comments ol.commentlist:after {
  content: "";
  display: block;
  clear: both;
}

#reviews #comments ol.commentlist li {
  padding: 0;
  margin: 0 0 20px;
  border: 0;
  position: relative;
  background: 0;
  border: 0;
}
#reviews #comments ol.commentlist li .meta {
  color: #999;
  font-size: 0.75em;
}
#reviews #comments ol.commentlist li img {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  width: 32px;
  height: auto;
  background: #fff;
  margin: 0;
  line-height: 1;
}
#reviews #comments ol.commentlist li .comment-text {
  margin: 0 0 0 50px;
  border: 1px solid #3b3b3b;
  padding: 11px 11px 0;
}
#reviews #comments ol.commentlist li .comment-text p {
  margin: 0 0 11px;
}
#reviews #comments ol.commentlist li .comment-text p.meta {
  font-size: 0.86em;
}
.star-rating {
  float: right;
  width: 80px;
  height: 16px;
  background: url(../images/woocommerce/star.png) repeat-x left 0;

}

.panel .star-rating {
  margin-right: 10px;
  margin-top: 10px;
}
.star-rating span {
  background: url(../images/woocommerce/star.png) repeat-x left -32px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
  float: left;
}
.hreview-aggregate .star-rating {
  margin: 10px 0 0 0;
}
#review_form #respond {
  margin: 0;
  padding: 25px 0;
}
#review_form #respond:after {
  content: "";
  display: block;
  clear: both;
}
#review_form #respond p {
  margin: 0 0 10px;
}

p.stars:after {
  content: "";
  display: block;
  clear: both;
}

p.stars span {
  width: 80px;
  height: 16px;
  position: relative;
  float: left;
  background: url(../images/woocommerce/star.png) repeat-x left 0;
}

p.stars span a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}

p.stars span a:hover,
p.stars span a:focus {
  background: url(../images/woocommerce/star.png) repeat-x left -16px;
}
p.stars span a.active {
  background: url(../images/woocommerce/star.png) repeat-x left -32px;
}
p.stars span a.star-1 {
  width: 16px;
  z-index: 10;
}
p.stars span a.star-2 {
  width: 32px;
  z-index: 9;
}
p.stars span a.star-3 {
  width: 48px;
  z-index: 8;
}
p.stars span a.star-4 {
  width: 64px;
  z-index: 7;
}
p.stars span a.star-5 {
  width: 80px;
  z-index: 6;
}

/* =Tables
-------------------------------------------------------------- */
table.shop_attributes {
  margin-bottom: 1.618em;
  width: 100%;
}
table.shop_attributes th {
  width: 150px;
  font-weight: bold;
  padding: 8px;
  margin: 0;
  line-height: 1.5em;
}
table.shop_attributes td {
  font-style: italic;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}
table.shop_attributes td p {
  margin: 0;
  padding: 8px;
}
table.shop_attributes .alt td,
table.shop_attributes .alt th {
  background: rgba(0, 0, 0, 0.025);
}
table.shop_table {
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  
  border-collapse: collapse;
  border-spacing: 0;
}
table.shop_table th {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  padding: 9px 12px;
}
table.shop_table td {
  border-top: 1px solid rgba(0, 0, 0, .1);
  padding: 6px 12px;
  vertical-align: middle;
}
table.shop_table tfoot td {
  font-weight: bold;
}
table.my_account_orders {
  font-size: 0.85em;
}
table.my_account_orders th,
table.my_account_orders td {
  padding: 4px 8px;
  vertical-align: top;
}
table.my_account_orders .button {
  white-space: nowrap;
}

/* =Cart
-------------------------------------------------------------- */
table.cart img {
  width: 32px;
  height: auto;
}
/* =Cart Sidebar
-------------------------------------------------------------- */
ul.cart_list,
ul.product_list_widget {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
ul.cart_list li,
ul.product_list_widget li {
  padding: 5px 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
ul.cart_list li:after,
ul.product_list_widget li:after {
  content: "";
  display: block;
  clear: both;
}
ul.cart_list li a,
ul.product_list_widget li a {
  display: block;
  padding: 0;
}
ul.cart_list li a span,
ul.product_list_widget li a span,
ul.product_list_widget li span.quantity {
  line-height: 32px;
  display: inline-block;
  height: 32px;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ul.cart_list li img,
ul.product_list_widget li img {
  width: 32px;
  height: auto;
  margin-right: 10px;
}
ul.product_list_widget li span.amount {
  line-height: 32px;
  display: inline-block;
  height: 32px;
  vertical-align: top;
  float: right;
}

ul.product_list_widget li del span.amount{
  text-decoration: line-through;
}


ul.cart_list li dl,
ul.product_list_widget li dl {
  margin: 0;
  font-size: 0.8751em;
  padding-left: 1em;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
ul.cart_list li dl dt,
ul.product_list_widget li dl dt {
  float: left;
  clear: left;
  margin-right: .25em;
}
ul.cart_list li dl dd,
ul.product_list_widget li dl dd {
  margin-bottom: .5em;
}
ul.cart_list li .star-rating,
ul.product_list_widget li .star-rating {
  float: none;
}
.widget_shopping_cart .total {
	padding: 4px 0 0;
}
.widget_shopping_cart .total strong {
  min-width: 40px;
  display: inline-block;
}
.widget_shopping_cart .buttons:after {
  content: "";
  display: block;
  clear: both;
}
/* =Cart
-------------------------------------------------------------- */
a.remove {
  display: block;
  height: 32px;
  width: 16px;
  text-indent: -9999px;
  background: url("../images/woocommerce/remove.png") no-repeat scroll 0 0 transparent;
  vertical-align: bottom;
}
a.remove:hover {
	text-decoration: none;
}
.cart th,
.cart td {
  vertical-align: middle;
}
td.actions {
  text-align: right;
}
td.actions .coupon {
  float: left;
}
td.actions .coupon label {
  display: none;
}
td.actions .coupon .input-text {
  width: 80px;
  float: left;
  margin: 0 6px 0 0;
	padding: 6px 12px 5px;
	line-height: 1.2;
}
td.actions .button.alt {
  float: right;
  margin-left: .25em;
}
td.product-name dl.variation {
  margin: 0;
  font-size: 0.8751em;
  line-height: 5px;
  margin-top: 20px;
}
td.product-name dl.variation dt {
  font-weight: bold;
  float: left;
  clear: left;
  margin: 0 .25em 0 0;
  padding: 0;
}
td.product-name dl.variation dd {
  margin-bottom: 0;
}
td.product-name p.backorder_notification {
  font-size: 0.8751em;
}
td.quantity {
  min-width: 80px;
}
.quantity {
  width: 60px;
  position: relative;
}

.quantity input.qty {
  width: 40px;
  height: 33px;
  padding: 0;
  text-align: center;
  border: 1px solid #969696;
  border-right: 0;
	border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 0 0 2px 0 #cccccc;
  font-weight: bold;
}

.quantity .plus,
.quantity .minus {
  display: block;
  padding: 0;
  position: absolute;
  text-align: center;
  vertical-align: text-top;
  margin: 0 !important;
  width: 20px;
  height: 18px;
  text-decoration: none;
  overflow: visible;
  border: 1px solid #969696;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e1e1e1));
  background: -webkit-linear-gradient(#f5f5f5, #e1e1e1);
  background: -moz-linear-gradient(center top, #f5f5f5 0%, #e1e1e1 100%);
  background: -moz-gradient(center top, #f5f5f5 0%, #e1e1e1 100%);
  color: #676767;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  margin: 0;
  cursor: pointer;
  line-height: 0em;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.075), inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.quantity .plus:hover,
.quantity .minus:hover {
  background: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e6e6e6));
  background: -webkit-linear-gradient(#f5f5f5, #e6e6e6);
  background: -moz-linear-gradient(center top, #f5f5f5 0%, #e6e6e6 100%);
  background: -moz-gradient(center top, #f5f5f5 0%, #e6e6e6 100%);
}

.quantity .plus {
  top: 0;
  right: 0;
  border-bottom: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.quantity .minus {
  bottom: 0;
  right: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.single_add_to_cart_button {
	height: 35px;
}

.cart input {
  margin: 0;
  vertical-align: middle;
  line-height: 1em;
}
.col2-set {
  width: 100%;
}
.col2-set:after {
  content: "";
  display: block;
  clear: both;
}
.col2-set .col-1 {
  float: left;
  width: 48%;
}
.col2-set .col-2 {
  float: right;
  width: 48%;
}
.cart-collaterals {
  width: 100%;
}
.cart-collaterals:after {
  content: "";
  display: block;
  clear: both;
}
.cart-collaterals .related {
  width: 30.75%;
  float: left;
}
.cart-collaterals .cross-sells {
  width: 48%;
  float: left;
}
.cart-collaterals .cross-sells ul.products {
  float: none;
}
.cart-collaterals .cross-sells ul.products li {
  width: 48%;
}
.cart-collaterals .shipping_calculator {
  width: 48%;
  text-align: right;
  margin: 20px 0 0 0;
  clear: right;
  float: right;
}

.woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after{font-family:WooCommerce;speak:none;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;margin-left:7px;content:"\e02e"; font-size: 11px;}

.cart-collaterals .shipping_calculator:after {
  content: "";
  display: block;
  clear: both;
}
.cart-collaterals .shipping_calculator .button {
  width: 100%;
  float: none;
  display: block;
}
.cart-collaterals .shipping_calculator .col2-set .col-1,
.cart-collaterals .shipping_calculator .col2-set .col-2 {
  width: 47%;
}

.cart-collaterals .cart_totals p {
  margin: 0;
}
.cart-collaterals .cart_totals table {
  border-collapse: separate;
  margin: 0 0 6px;
  padding: 0;
}
.cart-collaterals .cart_totals table tr:first-child th,
.cart-collaterals .cart_totals table tr:first-child td {
  border-top: 0;
}
.cart-collaterals .cart_totals table td,
.cart-collaterals .cart_totals table th {
  padding: 6px 12px;
}
.cart-collaterals .cart_totals table small {
  display: block;
  color: #999;
}
.cart-collaterals .cart_totals table select {
  width: 100%;
}
.cart-collaterals .cart_totals .discount td {
  color: green;
}
.cart-collaterals .cart_totals tr td,
.cart-collaterals .cart_totals tr th {
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 6px 5px;
}
.cart-collaterals .cart_totals a.button.alt {
  display: block;
  font-size: 1.1em;
	text-align: center;
}

.cart-collateral-wrap {
	margin: 0 0 30px;
}
.cart-collateral-wrap .coupon {
	margin: 0 0 30px;
}
.cart-collateral-wrap .coupon label {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: -0.03em;
}
.cart-collateral-wrap .coupon input[type=text] {
	padding-top: 9px;
	padding-bottom: 10px;
	text-indent: 5px;
}
.cart-collateral-wrap .coupon input[type=submit] {
	width: 100%;
	margin-top: 5px;
	height: 46px;
}

.cart-collaterals input[type=submit] {
	width: 100%;
	margin: 0 0 5px;
	height: 46px;
}

.cart_totals table {
	width: 100%;
	margin: 0 0 30px;
}
.cart_totals h2 {
	text-transform: uppercase;
	font-size: 18px;
}
.cart_totals table th, .cart_totals table td {
	padding: 5px 0;
}
.cart_totals table td {
	padding: 5px;
	text-align: right;
}
.cart_totals table th {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: -0.03em;
	font-weight: normal;
}
.cart_totals table .order-total th {
}
.cart_totals table .order-total .amount {
	font-size: 16px;
}

.shipping_calculator h2 {
	color: rgba(49, 49, 49, 0.54);
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: -0.03em;
}

.shipping_calculator h2 a:hover {
	text-decoration: none;
}
/* =Forms
-------------------------------------------------------------- */
.form-row {
  padding: 3px;
  margin: 0 0 6px;
}
.form-row:after {
  content: "";
  display: block;
  clear: both;
}
.form-row label {
  display: block;
	margin-bottom: 5px;
}
.form-row label.hidden {
  visibility: hidden;
}
.form-row select {
  width: 100%;
  cursor: pointer;
  margin: 0;
}
.form-row .required {
  color: #c00;
  font-weight: bold;
  border: 0;
}
.form-row .input-checkbox {
  display: inline;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
}
.form-row label.checkbox {
  display: inline;
}
form .form-row input.input-text,
#content .form-row input.input-text,
form .form-row textarea,
#content .form-row textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  width: 100%;
  margin: 0;
  outline: 0;
  background: #ededed none;
  font-size: 0.8em;
  line-height: 1em;
  color: #666;
}
form .form-row textarea,
#content .form-row textarea {
  height: 3.5em;
  line-height: 1.5em;
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
form .form-row input.input-text:focus,
#content .form-row input.input-text:focus,
form .form-row textarea:focus,
#content .form-row textarea:focus {
  box-shadow: inset 0 0 0 3px #faf9dc;
  -webkit-box-shadow: inset 0 0 0 3px #faf9dc;
  -moz-box-shadow: inset 0 0 0 3px #faf9dc;
  background: #f6f6f6;
}
.form-row-first,
.form-row-last {
  float: left;
  width: 47%;
  overflow: visible;
}
.form-row-last {
  float: right;
}

/* =Checkout
-------------------------------------------------------------- */
.shop_table.woocommerce-checkout-review-order-table th {
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	background: none;
}
label[for="ship-to-different-address-checkbox"] {
	display: inline-block;
}

.chosen-container .chosen-results li.active-result { color: #000; }
form.login {
  padding: 20px;
  border: 1px solid #555;
  margin: 20px 0 20px 0px;
  text-align: left;
}
#payment {
  background: rgba(0, 0, 0, 0.025);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#payment ul.payment_methods {
  text-align: left;
  padding: 1em;
  border-bottom: 1px solid #eee;
  margin: 0;
  list-style: none outside;
}
#payment ul.payment_methods:after {
  content: "";
  display: block;
  clear: both;
}
#payment ul.payment_methods li {
  line-height: 2em;
  text-align: left;
  margin: 0;
  font-weight: normal;
}

.payment_method_paypal img { display: none; }
.about_paypal { margin-left: 5px; }

#payment ul.payment_methods li input {
  margin: 0 1em 0 0;
}
#payment ul.payment_methods li img {
  vertical-align: middle;
  margin: -2px 0 0 0.5em;
  position: relative;
}
#payment div.form-row {
  padding: 1em;
  border-top: 1px solid #333;
}
#payment #place_order {
  float: right;
  margin: 0;
}
#payment .terms {
  padding: 0 1em 0;
  text-align: right;
}
#payment div.payment_box {
  position: relative;
  width: 96%;
  padding: 1em 2%;
  margin: 1em 0 1em 0;
  font-size: 0.92em;
  background: #333;
  line-height: 1.5em;
}

#payment div.payment_box p:last-child {
  margin-bottom: 0;
}
#payment div.payment_box #cc-expire-month,
#payment div.payment_box #cc-expire-year {
  width: 48%;
  float: left;
}
#payment div.payment_box #cc-expire-year {
  float: right;
}
#payment div.payment_box span.help {
  font-size: 11px;
  color: #999;
  line-height: 13px;
  font-weight: normal;
}
#payment div.payment_box .form-row {
  margin: 0 0 1em;
}
#payment div.payment_box .form-row select {
  width: 48%;
  float: left;
  margin-right: 3.8%;
}
#payment div.payment_box .form-row select:nth-child(3n) {
  margin-right: 0;
}
#payment div.payment_box:after {
  content: "";
  display: block;
  border: 8px solid #333;
  /* arrow size / color */

  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -4px;
  left: 0;
  margin: -1em 0 0 2em;
}
div.shipping-address {
  padding: 0;
  clear: left;
}
div.shipping_address {
  width: 100%;
}
#shiptobilling {
  float: right;
  line-height: 1.62em;
  margin: 0 0 0 0;
  padding: 0;
}
#shiptobilling label {
  font-size: 0.6875em;
}
.checkout .col-2 h3 {
  clear: none;
}
.checkout .col-2 .notes {
  clear: left;
}
.checkout .col-2 .form-row-first {
  clear: left;
}
/* =Order Page
-------------------------------------------------------------- */
.order_details {
  margin: 0 0 1.5em !important;
  list-style: none;
}
.order_details:after {
  content: "";
  display: block;
  clear: both;
}
.order_details li {
  float: left;
  margin-right: 2em;
  text-transform: uppercase;
  font-size: 0.715em;
  line-height: 1em;
  border-right: 1px dashed #ccc;
  padding-right: 2em;
	list-style: none;
}
.order_details li strong {
  display: block;
  font-size: 1.4em;
  text-transform: none;
  line-height: 1.5em;
}
.order_details li.method {
  border: none;
}
/* =Account
-------------------------------------------------------------- */
.addresses .title:after {
  content: "";
  display: block;
  clear: both;
}
.addresses .title h3 {
  float: left;
}
.addresses .title .edit {
  float: right;
}
ol.commentlist.notes li.note p.meta {
  font-weight: bold;
  margin-bottom: 0;
}
ol.commentlist.notes li.note .description p:last-child {
  margin-bottom: 0;
}
ul.digital-downloads {
  margin-left: 0;
  padding-left: 0;
}
ul.digital-downloads li {
  list-style: none;
  margin-left: 0;
  padding-left: 1.5em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQIHWP8//8/AwgwMjLWgxlQAijeCGIyIQtiYxNUwAjUhWI0uilMMLvQJUB8kBzYCmyKYGJwN8AEYDphJgIAPtccffZCsOoAAAAASUVORK5CYII=) left no-repeat;
}
ul.digital-downloads li .count {
  float: right;
}
/* =Layered Nav Widget
-------------------------------------------------------------- */
.widget_layered_nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
}
.widget_layered_nav ul li {
  padding: 0 0 1px;
  list-style: none;
}
.widget_layered_nav ul li:after {
  content: "";
  display: block;
  clear: both;
}
.widget_layered_nav ul li a,
.widget_layered_nav ul li span {
  padding: 1px 0;
  float: left;
}
.widget_layered_nav ul li.chosen a {
  padding: 0 6px 0 18px;
  border: 1px solid #3399cc;
  background: #3399cc url(../images/woocommerce/cross_white.png) no-repeat 6px center;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.widget_layered_nav ul small.count {
  float: right;
  margin-left: 6px;
  font-size: 1em;
  padding: 1px 0;
  color: #999;
}

.shipping_calculator h2 {
	font-size: 1.2em;
}

/* =Price Filter Widget
-------------------------------------------------------------- */
.widget_price_filter .price_slider {

}
.widget_price_filter .price_slider_amount {

}
.widget_price_filter .price_slider_amount .button {

}
.widget_price_filter .price_slider_amount .button {

}
.widget_price_filter .ui-slider {

}
.widget_price_filter .ui-slider .ui-slider-handle {

}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {

}

.widget_price_filter .ui-slider .ui-slider-range {

}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  width: 98%;

}
.widget_price_filter .ui-slider-horizontal {

}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {

}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {

}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {

}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: none repeat scroll 0 0 #999999;
  border-radius: 1em 1em 1em 1em;
  width: 98%;
}
.widget_price_filter .ui-slider-horizontal {
  height: 0.5em;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.widget_price_filter .price_slider_amount {
  font-size: 0.8751em;
  line-height: 2.4em;
  text-align: right;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  height: 100%;
  top: 0;
}
.price_label {
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-range {
  background: none repeat scroll 0 0 #CCCCCC;
  border: 0 none;
  border-radius: 1em 1em 1em 1em;
  display: block;
  font-size: 0.7em;
  position: absolute;
  z-index: 1;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  background: url("../images/price-sld.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 16px;
  outline: medium none;
  position: absolute;
  top: -0.4em;
  width: 16px;
  z-index: 2;
}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}
.widget_price_filter .price_slider_amount {
  font-size: 0.8751em;
  line-height: 2.4em;
  text-align: right;
}
.clear {
  clear: both;
}
.widget_price_filter button.button {
  float: right;
  font-size: 1em;
  text-transform: none;
}


/* Muzak Custom CSS
================================================== */

.product .latest-item {
	position: relative;
}

li.latest-item .album-info {
	position: relative;
}

li.product .latest-item img {
	min-width: 100%;
	max-width: 100%;
}

li.product .product-price,
.single-product .related.products li.product .product-price{
	position: absolute;
	right: 10px;
	bottom: 0;
	font-size: 0.8em;
}

.single-product li.product .price {
	font-size: 1em;
}

li.product .product-price .from {
	display: none;
}

li.product .product-price del {
	font-size: 0.9em;
	color: #ccc;
}

.price ins {
	text-decoration: none;
}


/* Single Product Page */
.single-product .images {
	width: 40%;
	float: left;
	margin-bottom: 30px;
}

.single-product .images img {
	max-width: 100%;
}

.single-product .images a:hover {
	border: none;
}

.single-product .summary {
	width: 54%;
	float: right;
}

.single-product .variations {
	background-color: rgba(255,255,255,0.15);
}

.single-product .variations td {
	padding: 10px;
	vertical-align: top;
}

.single-product .variations td.label {
  padding: 10px 0;
}

.single-product .variations a {
	color: #fff;
}

.single-product .price {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5px;
}

.single-product del {
	font-size: 0.8em;
}

.single-product .product_meta {
	margin-bottom: 20px;
	font-size: 0.9em;
}

.single-product .product_meta span.posted_in {
  margin-left: 10px;
}

.variations {
	margin-bottom: 20px;
}

.woocommerce-tabs {
	margin: 0 0 20px 0;
}

.woocommerce-tabs .panel {
	padding: 15px;
	/**background: url("../images/bg_gradient.png") repeat-x scroll center top #232323;**/
	font-size: 0.9em;
}

.woocommerce-tabs h2 {
	font-size: 1.3em;
	margin-bottom: 5px;
}

.woocommerce-tabs .tabs {
	margin-bottom: 0;
}

.woocommerce-tabs .tabs li {
	margin: 0;
}

.woocommerce-tabs .tabs li a {
	padding: 10px;
	color: #444;
	font-weight: bold;
	/**background: url("../images/bg_gradient.png") repeat-x scroll center top #232323;**/
  background-color: #eee;
	border-bottom: 1px solid rgba(0,0,0,0.01);
}

.woocommerce-tabs .tabs li a:hover {
	opacity: 1 !important;
}

.woocommerce-tabs .tabs li.active a {
  color: #b7231c;
}

.shop_attributes {
	background-color: rgba(255,255,255,0.05);
	text-align: left;
}

.shop_attributes th {
	font-weight: bold;
	color: #ccc;
}

.shop_attributes td {
	color: #ccc;
}

#review_form {
	background: #eee;
	width: 500px;
}

#review_form h3 { font-size: 1.2em; line-height: 1em; margin-bottom: 20px; }
#review_form label { display: inline-block; margin-bottom: 5px; }
#review_form textarea, #review_form input[type=text] { width: 80%; }

.woocommerce-message .button {
	margin-bottom: 0;
}

#order_review {
}

table.shop_table thead {
	background-color: rgba(0, 0, 0, 0.17);
}

#payment label {
	display: inline;
}

#customer_details {
	margin-bottom: 30px;
}

.widget_shopping_cart a.button, .woocommerce-message a.button {
	color: #333;
	padding: 5px 10px;
}

/*
============================================================================
	Cart Page
============================================================================
*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}

#shipping_method {
	list-style: none;
	margin: 0;
	padding: 5px 0;
}

#shipping_method li {
	margin: 10px 0;
	display: block;
}

#shipping_method label {
	display: block;
	font-size: 13px;
	overflow: hidden;
}

#shipping_method label span {
	color: inherit;
}

#shipping_method input[type="radio"] {
	float: left;
	margin: 5px 5px 0 0;
}

/*
============================================================================
	Cross Sells
============================================================================
*/

.cross-sells {
	margin: 20px 0 0;
}

.cross-sells h2 {
	text-transform: uppercase;
	margin: 0 0 10px;
	font-size: 18px;
}

.cross-sells ul.products {
	margin: 0 0 20px;
}
	
/* #PLUGIN: WOOCOMMERCE COLOR STYLES
================================================== */
.ci-dark-scheme .woocommerce-tabs .panel { background: #eee; }
.ci-dark-scheme .woocommerce-tabs .tabs li a { background-image:none; opacity: 0.5; }
.ci-dark-scheme .woocommerce-tabs ul.tabs li.active a { opacity: 1; }

.ci-light-scheme .woocommerce-tabs .tabs li a { background: #ddd; color:#232323; background-image:none; opacity: 0.5; border-bottom:none; }
.ci-light-scheme .woocommerce-tabs ul.tabs li.active a { opacity: 1; border-bottom:none; }
.ci-light-scheme .woocommerce-tabs .panel { background: #fff; border:solid 1px #ddd; }
.ci-light-scheme .product #reviews #comments ol.commentlist li .comment-text { border:solid 1px #ddd; }
.ci-light-scheme #review_form { background: #fff; }
.ci-light-scheme #review_form #respond { border:solid 1px #ddd; padding-bottom:0; }
.ci-light-scheme #review_form #respond form { margin-bottom:0; }
.ci-light-scheme #reviews #comments ol.commentlist li img { padding:0; }

@media only screen and ( max-width: 767px ) {
	.col2-set .col-1, .col2-set .col-2  { float: none; width: 100%; }
}