
/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.columns                { width: 236px; }
        .container .two-thirds.columns               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.columns,
        .container .two-thirds.columns { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.columns,
        .container .two-thirds.columns { width: 420px; }
    }


/* #Media Queries
================================================== */
    /* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) { 
		#navigation { display:none; }
        #navigation-commerce { display:none; }
		.mm-menu.mm-current {	display: block !important; }
		.alt-nav { display:block; position:absolute; top:52px; right:10px; }
		.tour-place { width:88px; }
		.action-btn { margin-bottom:7px; }
		#mobile-bar { display: block; }
		.mm-page { padding-top: 0; }
		.admin-bar #mobile-bar { margin-top: 33px;}
        .commerce-mobile-link {
            border:0;
        }
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		 .alt-nav { width:50%; }
		 .latest-item .action-btn { margin-bottom:3px; }
         #logo { margin-left: 50%; margin-bottom:20px; transform: translateX(-50%); text-align: center; margin-top: 30px;}
         ul.cart_list li a span,
         ul.product_list_widget li a span,
         ul.product_list_widget li span.quantity {
           max-width: 80px;
         }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
        #header { padding-top:50px !important; padding-bottom:0 !important;}
		#logo { text-align: center; margin-bottom:40px; }
		.alt-nav { width:50%; margin:0 auto; position:static; width:90%; }
		.single-product .images,
		.single-product .summary {
			float: none !important;
			display:block;
			width: 100% !important;
			margin: 10px 0 !important;
		}
		.admin-bar #mobile-bar { margin-top: 0;}
		.events .tour-thumb { display:none; }
		.woocommerce-cart input[type=submit],
		input#coupon_code, .coupon, .cart_totals, .shipping_calculator { display: block !important; margin: 5px 0 !important; width: 100% !important; clear: both; float: none !important; }
		.section-title { margin:0 0 20px 0; }
		.latest-item { margin-bottom:20px; }
		.woocommerce-cart  #coupon_code { width: 93% !important; }
	}

	/* Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 480px) {
		.alignleft { float:none; display:block; }
		.alignright { float:none; display:block; }
		.section-title { margin:10px 0 20px 0; }
		#logo { text-align: center; margin-bottom:40px; }
		.alt-nav { width:50%; margin:0 auto; position:static; width:90%; }
		.slide-text { position:absolute; bottom:10px; right:10px; padding:10px 15px 5px 15px;  }
		.slide-text h2 { font-size:12px; }
		.flex-control-nav { display:none; }
		.tour-place { width:218px; }
		.post-comments .avatar { display:none; }
		.post-comments .comment-copy { margin-left:0; }
		.post-comments ul { margin-left:0 !important; }
		.discography li { margin-bottom:20px !important; }
		.tracklisting .track-no { display:none; }
		.tracklisting .track-info { padding-right:50px; }
		.album-cover { padding-bottom:20px; }
		#sharable { margin-top:20px; }
		.events .tour-dates .tour-place { padding:8px; width:218px; }
		.events .tour-dates .tour-date { padding:5px 0;  }
		.events .tour-dates .sub-head { font-size:11px; }
		.events .tour-dates .main-head { font-size:11px; }
		.events .tour-dates .action-btn { position:static; }
		.events .tour-thumb { display:none; }
		#map { height:250px; }
		.tracklisting .track-info { float:none; }
		.tracklisting .btns { position:relative; top:auto; right:auto; padding:0 0 10px 5px;  }
	}
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.tracklisting .track-no { display:none; }
		.tracklisting .track-info { float:none; }
		.tracklisting .btns { position:relative; top:auto; right:auto; padding:0 0 10px 5px;  }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
        ul.cart_list li a span,
        ul.product_list_widget li a span,
        ul.product_list_widget li span.quantity {
          max-width: 180px;
        }
  
    }

   /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (min-width: 960px) { 
       ul.cart_list li a span,
       ul.product_list_widget li a span,
       ul.product_list_widget li span.quantity {
         max-width: 120px;
       }
    }