.gllpMap { width: 100%;	max-width: 100%; height: 350px; margin-top:20px; }

/* Track Styles */
#ci_repeating_tracks table {}
table.tracks { border-color: #DFDFDF; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 0 #FFFFFF inset; width: 100%; margin-top: 20px; }
table.tracks thead tr { border-color: #DFDFDF; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 0 #FFFFFF inset; }
table.tracks thead th { background: #f1f1f1;	border-bottom: 1px solid #000; font-size: 13px; font-weight: normal; line-height: 1; margin: 0; padding: 7px 10px;	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;	text-align: left; }
table.tracks td { padding: 5px 3px; background: #f1f1f1; }
table.tracks input, table.tracks textarea {	width: 100%; padding: 7px 5px; height:36px;	resize: none; }
table.tracks textarea { height:100px; }
table.tracks tbody:nth-child(2n-1) {}
table.tracks tbody tr:nth-child(1) td { padding-top: 15px; }
table.tracks tbody tr:nth-child(2) td {	padding-bottom: 15px; border-bottom: 1px solid rgba(204, 204, 204, 0.43); }
table.tracks .ui-sortable-helper { background: rgba(255, 255, 0, 0.05) !important; border: 1px dotted #ccc; }
table.tracks .ui-sortable-placeholder { }
table.tracks tbody { border-top: 1px solid #fff; cursor: move; }
table.tracks .track-no { text-align: center; }
.cell-centered { text-align: center !important;; }
table.tracks tbody tr:first-child td:first-child { font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif; font-size: 14px;	text-shadow: 1px 1px rgba(255,255,255,1); }
table.tracks .wp-media-buttons { position: relative;}
.ci-upload-track { position: absolute !important; top: 5px; right: 2px; margin: 0 !important; padding: 0 6px 1px !important; }
.tracks input.with-button {	padding-right: 40px; }