/*
Theme Name: Muzak (shared on themelot.net)
Theme URI: http://themeforest.net/item/muzak-music-premium-wordpress-theme/3160212
Author: the CSSIgniterVIP team
Author URI: http://www.cssigniter.com/
Description: Music theme for WordPress, WooCommerce (2.1.x) Compatible
Version: 3.5
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-2.0.html

TABLE OF CONTENTS
	01. GLOBAL: #Reset & Basics (Inspired by E. Meyers)
	02. GLOBAL: #Basic Styles  
	03. GLOBAL: #Typography
	04. GLOBAL: #Links
	05. GLOBAL: #Overlays
	06. GLOBAL: #Lists
	07. GLOBAL: #Tables
	08. GLOBAL: #Images
	09. GLOBAL: #Floats
	10. GLOBAL: #Buttons
	11. GLOBAL: #Forms
	12. GLOBAL: #Header
	13. GLOBAL: #Footer
	14. GLOBAL: #WordPress Styles
	15. GLOBAL: #Widgets
	16. MODULE: #Main navigation
	17. MODULE: #Sidebar
	18. MODULE: #Homepage slider
	19. MODULE: #News
	20. MODULE: #Page	
	21. MODULE: #Single	
	22. MODULE: #Comments
	23. MODULE: #Comment Form
	24. MODULE: #Discography
	25. MODULE: #Events
	26. MODULE: PAGINATION
	27. WIDGET: #Tour Dates
	28. WIDGET: #Tour Event
	29. MODULE: #Gallery
	30. WIDGET: #Discography
	31. WIDGET: #Latest Album
	32. WIDGET: #Latest Videos
	33. WIDGET: #Flickr
	34. WIDGET: #Calendar
	35. WIDGET: #Social Links
	36. WIDGET: #Search
	37. WIDGET: #Recent Comments
	38. WIDGET: #Twitter
	39. PLUGIN: #Contact Form 7 styles	
	40. PLUGIN JETPACK: Extra Styles
	41. MOBILE MENU STYLES
	42. #ISOTOPE FILTERING

*/

/** Font **/
@font-face {
    font-family: 'glacial_indifference';
    src: url('fonts/glacialindifference-regular-webfont.eot');
    src: url('fonts/glacialindifference-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
         url('fonts/glacialindifference-regular-webfont.woff') format('woff'),
         url('fonts/glacialindifference-regular-webfont.ttf') format('truetype'),
         url('fonts/glacialindifference-regular-webfont.svg#glacial_indifferenceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'glacial_indifference';
    src: url('fonts/glacialindifference-bold-webfont.eot');
    src: url('fonts/glacialindifference-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/glacialindifference-bold-webfont.woff2') format('woff2'),
         url('fonts/glacialindifference-bold-webfont.woff') format('woff'),
         url('fonts/glacialindifference-bold-webfont.ttf') format('truetype'),
         url('fonts/glacialindifference-bold-webfont.svg#glacial_indifferencebold') format('svg');
    font-weight: bold;
    font-style: normal;

}

/* GLOBAL: #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
	body { line-height: 1; }
	ol, ul { list-style: none; }
	blockquote, q { quotes: none; }
	blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
	table { border-collapse: collapse; border-spacing: 0; }


/* GLOBAL: #Basic Styles
================================================== */
	body { font: 16px/23px 'glacial_indifference', sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }	
	.hidden { display:none; }
	#wrap { position:relative; z-index:1000; }
	table { width:100%; }
	table {	margin-bottom: 24px; }
	th:first-child, td:first-child { padding-left: 0; }
	caption, th, td { font-weight: normal;	text-align: left; padding: 5px;	vertical-align: middle; }
	th { font-weight: bold; text-transform: uppercase;	font-size: 85%; }



/* GLOBAL: #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 { font-family: 'glacial_indifference', sans-serif; font-weight: bold; word-wrap: break-word }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 30px; line-height: 34px; margin-bottom: 14px;}
	h2 { font-size: 24px; line-height: 30px; margin-bottom: 10px; }		
	h3 { font-size: 20px; line-height: 34px; margin-bottom: 8px; }
	h3.widget-title { font-size:20px; line-height: 1; margin-bottom:15px; text-transform: uppercase; }
	#footer h3.widget-title	{ font-size: 14px; line-height: 30px; margin-bottom: 4px; text-transform: uppercase; }
	h3.section-title { font-size:30px; border-radius: 2px; }	
	h4 { font-size: 18px; line-height: 30px; margin-bottom: 4px; }	 
	h5 { font-size: 16px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }

	p { margin: 0 0 15px 0; }
	p img { margin: 0; }
	p.excerpt { font-size: 16px; font-weight:bold; }

	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 80%; }

	pre { font: 13px "Courier 10 Pitch", Courier, monospace; line-height: 1.5; margin-bottom: 15px; overflow: auto; padding: 0.75em 1.625em; }
	code, kbd, samp, var { font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }
	abbr, acronym, dfn { border-bottom: 1px dotted #666; cursor: help; }
	address { display: block; margin: 0 0 1.625em; }
	sup, sub { font-size: 10px; height: 0; line-height: 1; position: relative; vertical-align: baseline; }
	sup { bottom: 1ex; }
	sub { top: .5ex; }

	blockquote, blockquote p { font-size: 17px; line-height: 24px; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; }
	blockquote cite { display: block; font-size: 12px; }
	blockquote cite:before { content: "\2014 \0020"; }
	mark, mark.count { background: transparent; color: inherit; }
	video, audio, iframe, embed, object { width: 100%; }
	iframe { margin-bottom:15px; }
	

/* GLOBAL: #Links
================================================== */
	a, a:visited { text-decoration: none; outline: 0; }
	a:hover { border-bottom: 0; text-decoration: none !important;}
	p a, p a:visited { line-height: inherit; }
	
	
/* GLOBAL: #Overlays
================================================== */
	.overlay-link { position:relative; display:block; }
	.overlay-link:hover .overlay:before { color:rgba(255,255,255,1); }
	.overlay:before { font-family: dashicons; font-size:40px; color:rgba(255,255,255,0.7); left: 50%; line-height: 1; margin-left: -20px; margin-top: -20px; position: absolute; text-align: center; top: 50%; width: 40px; }
	.icon-play:before { content: "\f236"; }	
	.icon-zoom:before { content: "\f179"; }


/* GLOBAL: #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	.post-body ul { list-style: disc; margin-left:26px;  }
	.post-body ol { list-style: decimal; }
	

/* GLOBAL: #Tables
================================================== */
	table { width:100%; }
	

/* GLOBAL: #Images
================================================== */
	img.scale-with-grid, .gallery img, .responsive-content img, img[class*=wp-image], .wp-caption { -ms-interpolation-mode: bicubic; max-width: 100%; height: auto; border-radius:2px; }


/* GLOBAL: #Floats
================================================== */
	.alignleft { float:left; margin:5px 15px 15px 0; }
	.alignright { float:right; margin:5px 0 15px 15px; }
	.aligncenter { clear: both;	display: block;	margin-left: auto; margin-right: auto; }
	

/* GLOBAL: #Buttons
================================================== */
	a.action-btn, a.ci-more-link { display:inline-block !important; padding:0 5px; margin-top:5px; font-weight:bold; font-size:11px; text-transform: uppercase; border-radius:1px; }
	a.action-btn:hover, a.ci-more-link:hover { border:none;  }
	a.action-btn { color:#fff; }
	a.action-btn.sold, a.action-btn.canceled { background: #333; color:#ddd; }
	.button, button, input[type="submit"], input[type="reset"], input[type="button"] { display: inline-block; font-size: 13px; font-weight: bold; text-decoration: none; cursor: pointer; margin-bottom: 20px; line-height: normal; padding: 8px 10px; font-family: 'glacial_indifference', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
	.button.full-width,	button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width { width: 100%; padding-left: 0 !important; padding-right: 0 !important; text-align: center; }
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }


/* GLOBAL: #Forms
================================================== */
	form { margin-bottom: 20px; }
	fieldset { margin-bottom: 20px; }
	input[type="text"], input[type="password"], input[type="email"], textarea { padding: 6px 4px; outline: none; font: 13px 'glacial_indifference', sans-serif; margin: 0; width: 210px; max-width: 100%; display: block; margin-bottom: 20px; }
	select { padding: 0; }
	textarea { min-height: 60px; }
	label, legend { display: block; font-weight: bold; font-size: 13px;  }
	select { width: 220px; }
	input[type="checkbox"] { display: inline; }
	label span, legend span { font-weight: normal; font-size: 13px; }


/* GLOBAL: #Header
================================================== */
	#header { padding-top:50px; }
	#logo a:hover { border:none; }
	#navigation { position:absolute; top:47px; right:0; }
	#navigation a {margin-top: 35px;}
	/* .section-title { padding:12px 20px 15px 20px; margin:20px 10px 20px 10px; }*/
	.section-title {padding: 0;margin: 40px 0;}
	

/* GLOBAL: #Footer
================================================== */
	#footer { padding:50px 0 20px 0; margin-bottom:20px; font-size:12px; }
	#footer a:hover { color:#444; }
	
	
/* GLOBAL: #WordPress Styles
================================================== */
	dl dt { font-size:16px; font-weight:900; }
	dl dd { font-size:14px; margin-bottom:15px; }
	.sticky {}
	.bypostauthor {}
	.wp-caption { max-width: 96%; padding: 5px 3px 10px; text-align: center; font-size: 11px; }
	.wp-caption.alignnone { margin: 5px 20px 20px 0; }
	.wp-caption.alignleft {	margin: 5px 20px 20px 0; }
	.wp-caption.alignright { margin: 5px 0 20px 20px; }
	.wp-caption img { border: 0 none; height: auto;	margin: 0; max-width: 98.5%; padding: 0; width: auto; }
	.wp-caption p.wp-caption-text {	font-size: 11px; line-height: 17px;	margin: 0; padding: 7px 4px 0; font-style:italic; }
	.sticky {}
	.bypostauthor { }


	.gallery {
		margin-bottom: 20px;
		overflow: hidden;
	}

	.gallery-item {
		float: left;
		margin: 0 4px 4px 0;
		overflow: hidden;
		position: relative;
	}

	.gallery-columns-1 .gallery-item {
		max-width: 100%;
	}

	.gallery-columns-2 .gallery-item {
		max-width: 48%;
		max-width: -webkit-calc(50% - 4px);
		max-width:         calc(50% - 4px);
	}

	.gallery-columns-3 .gallery-item {
		max-width: 32%;
		max-width: -webkit-calc(33.3% - 4px);
		max-width:         calc(33.3% - 4px);
	}

	.gallery-columns-4 .gallery-item {
		max-width: 23%;
		max-width: -webkit-calc(25% - 4px);
		max-width:         calc(25% - 4px);
	}

	.gallery-columns-5 .gallery-item {
		max-width: 19%;
		max-width: -webkit-calc(20% - 4px);
		max-width:         calc(20% - 4px);
	}

	.gallery-columns-6 .gallery-item {
		max-width: 15%;
		max-width: -webkit-calc(16.7% - 4px);
		max-width:         calc(16.7% - 4px);
	}

	.gallery-columns-7 .gallery-item {
		max-width: 13%;
		max-width: -webkit-calc(14.28% - 4px);
		max-width:         calc(14.28% - 4px);
	}

	.gallery-columns-8 .gallery-item {
		max-width: 11%;
		max-width: -webkit-calc(12.5% - 4px);
		max-width:         calc(12.5% - 4px);
	}

	.gallery-columns-9 .gallery-item {
		max-width: 9%;
		max-width: -webkit-calc(11.1% - 4px);
		max-width:         calc(11.1% - 4px);
	}

	.gallery-columns-1 .gallery-item:nth-of-type(1n),
	.gallery-columns-2 .gallery-item:nth-of-type(2n),
	.gallery-columns-3 .gallery-item:nth-of-type(3n),
	.gallery-columns-4 .gallery-item:nth-of-type(4n),
	.gallery-columns-5 .gallery-item:nth-of-type(5n),
	.gallery-columns-6 .gallery-item:nth-of-type(6n),
	.gallery-columns-7 .gallery-item:nth-of-type(7n),
	.gallery-columns-8 .gallery-item:nth-of-type(8n),
	.gallery-columns-9 .gallery-item:nth-of-type(9n) {
		margin-right: 0;
	}

	.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
	.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
	.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
	.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
		clear: left;
	}

	.gallery-caption {
		background-color: rgba(0, 0, 0, 0.7);
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		color: #fff;
		font-size: 12px;
		line-height: 1.5;
		margin: 0;
		max-height: 50%;
		opacity: 0;
		padding: 6px 8px;
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: left;
		width: 100%;
	}

	.gallery-caption:before {
		content: "";
		height: 100%;
		min-height: 49px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.gallery-item:hover .gallery-caption {
		opacity: 1;
	}

	.gallery-columns-7 .gallery-caption,
	.gallery-columns-8 .gallery-caption,
	.gallery-columns-9 .gallery-caption {
		display: none;
	}
	

/* GLOBAL: #Widgets
================================================== */
	#single-sidebar { margin-top:40px; }
	.widget { margin-bottom:40px; }
	.widget-img { display:block; }	
	#footer .widget { margin-bottom:20px; }
	#footer .widget p { margin-bottom:5px; }
	.sub-head, .main-head { font-size:13px; line-height: 1; display:block; margin-bottom:5px; }
	.latest-item > a:hover { border:none; }	
	.widget ul li { margin-bottom:5px; }
	.widget ul li a { display:inline-block; }
	.widget ul li a:hover { border:none; }
	.widget-area .widget:last-child > * { margin-bottom:0; }


/* MODULE: #Main navigation
================================================== */
	.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
	.sf-menu { line-height:	1.0; float: left; margin-bottom: 1em; }
	.sf-menu ul { position: absolute; top: -999em; width: 12em; }
	.sf-menu ul li { width: 100%; }
	.sf-menu li:hover { visibility: inherit; }
	.sf-menu li { float: left; position: relative; text-decoration:none;  }
	.sf-menu a { display: block; position: relative; font-size:13px; font-weight:bold; padding: 10px 10px; }
	.sf-menu li li a { font-size:12px; }
	.sf-menu a:hover { border:none; }
	.sf-menu li:hover ul,.sf-menu li.sfHover ul { left: -1px; top: 39px; z-index: 99; }
	ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top: -999em; }
	ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left: 13em; top: -1px; }
	ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top: -999em; }
	ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left: 10em; top: 0; }
	.sf-menu li:hover { outline: 0; }
	.sf-menu li li a:hover { color:#fff !important; }
	.sf-menu > li:hover { border:none !important; background: none !important; }
	.alt-nav { display:none; }

/* MODULE: #Cart navigation
================================================== */
	#cart-nav ul#navigation-commerce {position: absolute; top:10px; right: 0;}
	/* #cart-nav ul li a {line-height: 2em !important;} **/
	#cart-nav ul li a {line-height: 2em !important;font-size: 11px;color:  #888;text-transform: uppercase;padding: 0 10px 0 0;}

/* MODULE: #Sidebar
================================================== */
	.sidebar { font-size:13px; }
	.sidebar ul { margin-bottom:0; }

	
/* MODULE: #Homepage slider
================================================== */
	.slider { margin:20px 0 40px 0; }
	.slide-text { position:absolute; bottom:50px; right:50px; padding:15px 20px 10px 20px; border-radius:2px; }
	.slide-text h2 { font-size:30px; line-height: 1; }
	.video-slide .fluid-width-video-wrapper { margin-bottom:0; padding-bottom:0; }


/* MODULE: #News
================================================== */
	.post { margin:0 0 50px 0; }
	.post:last-child { margin-bottom:40px; }
	.post > *:last-child { margin-bottom:0; }
	.post-intro { position:relative; }
	.post-intro img { display:block; }
	.post-intro h2 { position:relative; width:80%; margin-bottom:0; line-height: 1.2; }
	.post-intro img + h2 { position:absolute; bottom:10px; }
	.post-intro h2 a { font-size:20px; display:block; padding:8px 10px; }
	.post-intro h2 a:hover { border:none; }
	.meta { font-size:10px; font-weight:bold; text-transform: uppercase; margin:15px 0 10px 0;}
	.meta .bull { font-size:9px; line-height: 1; display:inline-block; margin:0 5px; position:relative; top:-1px; }
	.img-fullwidth { margin-bottom:10px; }


/* MODULE: #Page
================================================== */
	.static { border-bottom:none !important; margin-top:2px; margin-bottom:10px !important; }
	.static .post-intro img { margin-bottom:20px; }
	.static .post-body { padding-left:0; }
	.post-page-id { margin-top:20px; }


/* MODULE: #Single
================================================== */
	.inner-post { border-bottom:none !important; margin-top:2px; margin-bottom:10px !important; }
	.entry-terms { margin: -10px 0 10px; display: block; }
	

/* MODULE: #Comments
================================================== */
	.post-comments { margin:40px 0 0 0; padding:20px 0 0 0; }
	.post-comments h2 { margin-bottom:20px; }
	.post-comments ol, .post-comments ul { list-style: none; font-size:inherit;  }
	.post-comments > ol { margin-left:0; margin-bottom:0; }
	.post-comments li { margin:0 !important; padding:0 !important; background: none !important; position:relative; }
	.post-comments .avatar { position:absolute; top:0; left:0; margin: 0 15px 5px 0; text-align: center; }
	.post-comments .comment-text { margin-bottom:10px; }
	.post-comments > .comment-text:last-child { margin-bottom:0; }
	.post-comments .comment-copy { margin-left:60px;  padding: 15px; font-size: 13px; }
	.post-comments .comment-copy p { margin-bottom:10px; font-size:14px;  }
	.post-comments .comment-meta { font-weight: bold; margin-bottom:5px !important; }
	.comment-reply-link, .btn-reply { display:inline-block; height:15px; padding:5px 5px 0 5px; position:relative; top:5px; font-weight:bold; font-size:10px; text-transform: uppercase; line-height: 1; }
	.comment-reply-link:hover, .btn-reply:hover { color:#fff; }
	.comment-reply-link { font-size:10px; font-weight:bold; display:inline-block; border-radius:2px; margin-bottom:5px; }
	#cancel-comment-reply-link { display:block; font-size:14px; }
	#cancel-comment-reply-link:hover { border:none; }

	/* WooCommerce Review Form */
	.pp_inline #respond * { color: #555 !important; }
	.pp_inline #respond input, .pp_inline #respond textarea { background: #DFDFDF !important; border-color: #c2c2c2 !important; }
	.pp_inline #respond label { margin-bottom: 10px; }


/* MODULE: #Comment Form
================================================== */
	#form-wrapper { padding:20px 0 0 0; margin:40px 0 0 0;  }
	#form-wrapper h2 { font-size:26px; margin-bottom:20px; }
	#form-wrapper form { margin-bottom:0; }
	.post-form label { display:block; font-weight:bold; padding-bottom:5px; }
	.post-form input[type=text] { width:80%; }
	.post-form input[type=submit] { margin-bottom:0; }
	.post-form textarea { width:90%; height:200px; font-family: inherit; font-size:14px; line-height: 1.5; }
	#post-action { margin-bottom:0; }


/* MODULE: #Discography
================================================== */
	.discography, .listing { margin:0 0 20px 0; }
	.discography li, .listing li { margin-bottom:20px; }
	.album { border-bottom:0 !important; }
	#meta-wrap { margin:20px 0; padding:20px 0 22px 0; border-style: solid; border-width: 1px; border-left-width: 0; border-right-width: 0;  }
	.album-meta { font-size:14px; font-weight:bold; margin-bottom:0; position:relative; }
	.album-meta li {  margin-bottom:5px; }
	.album-meta li:last-child { margin-bottom:0; }
	.album-meta span { display:inline-block; width:120px; margin-right:5px; text-align: right; font-weight: normal; }
	
	/* tracklisting */
	.tracklisting { list-style: none !important; margin:0 0 20px 0; }
	.tracklisting li { margin-bottom:1px; position:relative; min-height:52px; }
	.tracklisting .track-no { float:left; width:60px; font:bold 26px 'glacial_indifference', sans-serif; text-align: center; padding:10px 0; }		
	.tracklisting .track-info { float:left; position:relative; top:9px; left:10px; }
	.tracklisting .track-info .sub-head { font-size:14px; }
	.tracklisting .track-single .sub-head { position:relative; top:9px; }
	.tracklisting .track-listen, .tracklisting a.sm2_button { display:block; width:30px; height:30px; position:absolute; top:10px; right:10px; text-indent: -9999px; }
	.tracklisting .btns { position:absolute; top:9px; right:50px; }
	.tracklisting .btns a { margin-left:5px; }
	.tracklisting .track-listen:hover, .tracklisting a.sm2_button:hover { border:none; }
	.fluid-width-video-wrapper { margin:0 0 15px 0; }
	.album .fluid-width-video-wrapper { margin:0 0 0 0; }
	.track-lyrics-hold { display: none; }
	.pp_description { color: #333; }
	
	/* share buttons */
	.album-share { text-align: right; line-height: 1;  }
	#sharable > span { position:relative; top:-2px; }
	

/* MODULE: #Events
================================================== */
	.events .tour-dates { margin-bottom:40px; }
	.events .tour-dates li { position:relative; }	
	.events .tour-dates .tour-place { padding:18px 0 0 20px; width:auto; }
	.events .tour-dates .tour-date { padding:2px 0;  }
	.events .tour-dates .sub-head { font-size:14px; }
	.events .tour-dates .main-head { font-size:13px; }
	.events .tour-dates .action-btn { position:absolute; top:21px; right:24px; }
	.events .tour-thumb { float:left; margin-left:1px;}
	.events .tour-thumb img { display:block; }

	/* map */
	#map { margin-bottom:40px; width:auto; height:400px; font-family:Arial,sans-serif; }
	#map h3 { line-height: 1; font-size:18px; margin-bottom:5px; }
	#map h4 { line-height: 1; font-size:14px; margin-bottom:8px; }
	#map p { line-height:1; font-size:12px; }
	

/* MODULE: PAGINATION
================================================== */
	#paging, .woocommerce-pagination { margin:0 0 40px 0; clear:both; }
	#paging-left { text-align: left; }
	#paging-right { text-align: right; }
	#paging a { display:inline-block; padding:3px 9px; margin-right:5px; font-size:11px; font-weight:bold; border-radius:2px;  }
	#paging span.current, #paging .pages { display:inline-block; padding:3px 9px; font-size:11px; font-weight:bold; margin-right:5px; border-radius:2px; }
	.wp-pagenavi .pages { margin-right:15px; }
	.woocommerce-pagination ul { margin: 0; padding: 0; list-style: none; }
	.woocommerce-pagination li { display: inline-block; }
	
	
/* WIDGET: #Tour Dates
================================================== */
	.widget .tour-dates { margin-bottom:0; }
	.widget .tour-dates li, .events .tour-dates li { margin-bottom:10px; border-bottom:none; }
	.widget_ci_events_widget .sub-head a { padding-bottom:0; }
	.tour-dates p { margin-bottom:0; }
	.tour-date { float:left; width:60px; font-family: 'glacial_indifference', sans-serif; text-align: center; padding:10px 0; }
	.tour-date .day, .tour-date .year { font-weight:900; display:block;  }
	.tour-date .day, .tour-date .time { font-size:26px; }
	.tour-date .year, .tour-date .date { font-size:14px; }
	.tour-place { float:left; width:138px; padding:10px; }
	.tour-date .date { display: block; font-weight: 900; }
	.tour-date .time { display: block; font-weight: 900; font-size: 18px; }
	

/* WIDGET: #Tour Event
================================================== */	
	.widget .tour-event-thumb { display:block; margin-bottom:0; }
	.widget .tour-event-thumb a { padding-bottom:0; display:block; }
	.widget .tour-event-thumb img { display:block; }
	.widget .tour-date { margin-bottom:0; }
	

/* MODULE: #Gallery
================================================== */	
	.gallery-item a, .gallery-item a img { display:block; margin:0 auto; }	
	.gallery-item a:hover { border: none; }
	.gallery-actions { display:block; }
	

/* WIDGET: #Discography
================================================== */
	.widget_ci_discography_widget .latest-item { margin-bottom:1px; }
	.widget_ci_tracklisting_widget .track-info span { width:110px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	.widget_ci_tracklisting_widget .tracklisting { margin-top:1px; }

	
/* WIDGET: #Latest Album
================================================== */
	#latest-album img { display:block; }
	.album-info { padding:8px 10px 10px 10px; margin-bottom:0; }
	.album-release { line-height: 1; }
	.album-actions { display:block; }
	.track-audio { clear:both; display:none; }
	

/* WIDGET: #Latest Videos
================================================== */
	.latest-video { position:relative; }
	.latest-video a span { width:53px; height:53px; display:block; position:absolute; }
	.video-player { display:none; }
	.mejs-container { z-index: 500 !important; }
	

/* WIDGET: #Flickr
================================================== */
	.flickr_badge_image { float: left; margin-right: 10px; margin-bottom: 10px; padding: 3px; }
	.flickr_badge_image img { width:55px; height:55px; }
	.flickr_badge_image img { display: block; }
	

/* WIDGET: #Calendar
================================================== */
	#wp-calendar { width: 100%; }
	#wp-calendar caption { text-align: left; margin-top: 10px; background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03); padding: 9px; }
	#wp-calendar thead { font-size: 10px; }
	#wp-calendar thead th { background: rgba(0, 0, 0, 0.1);	font-weight: bold; padding: 8px; }
	#wp-calendar tbody { }
	#wp-calendar tbody td { background: none; border: 1px solid rgba(0, 0, 0, 0.1); text-align: center; padding: 3px;}
	#wp-calendar tbody td:hover { background: rgba(0, 0, 0, 0.1); }
	#wp-calendar tbody .pad { background: none; }
	#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
	#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
	#wp-calendar a { font-weight: bold; font-style: italic; }
	

/* WIDGET: #Search
================================================== */
	#searchform, #searchform input[type=text] { margin-bottom:0; width:97%; }
	#searchform > div { position:relative; }
	#searchform #searchsubmit { position:absolute; top:0; right:-5px; padding: 6px 13px 7px 13px; height:29px; }
	#searchform label { display:none; }


/* WIDGET: #Recent Comments
================================================== */
	.recentcomments { padding:3px 0; }
	

/* WIDGET: #Twitter
================================================== */
	.twitter_update_list span { display:block; line-height: 1.2; }
	.twitter_update_list a.twitter-time { display:block; font-size:11px; font-weight:bold; }


/* PLUGIN: #Contact Form 7 styles
================================================== */
	.wpcf7-form-control { width:70% !important; }
	.wpcf7-textarea { width:90% !important; }
	.wpcf7-submit { width:auto !important; }
	.wpcf7-not-valid-tip { color:#333; }
	.wpcf7-response-output { margin:0 !important; }
	

/* PLUGIN JETPACK: Extra Styles
================================================== */	
	.gallery img { border:none !important; }
	.sharedaddy { padding-top:20px; }


/* MOBILE MENU STYLES
========================================= */
	#mobile-bar { text-align: center; position: fixed; top: 0; width: 100%; background: #242628;
		background-image: linear-gradient(bottom, rgb(20,22,23) 1%, rgb(34,36,38) 100%);
		background-image: -o-linear-gradient(bottom, rgb(20,22,23) 1%, rgb(34,36,38) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(20,22,23) 1%, rgb(34,36,38) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(20,22,23) 1%, rgb(34,36,38) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(20,22,23) 1%, rgb(34,36,38) 100%);	
		background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.01, rgb(20,22,23)), color-stop(1, rgb(34,36,38)) );
		padding: 15px 0 0 0;
		height: 37px;
		border-bottom: 1px solid rgba(0,0,0,0.8);
		box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
		display: none;
		z-index: 4000;
	}
	.menu-trigger, .menu-trigger:focus { width: 24px; height: 21px; background: url(images/menu_trigger.png) no-repeat; cursor: pointer; opacity: 0.85; margin: 0; outline: none; position: absolute; left: 10px; top: 15px; }	
	.menu-trigger:hover { opacity: 0.95; border: none; }
	.menu-trigger:active { opacity: 1; }	
	.mob-title, #mobile-bar h3.section-title { color: #eeeeee; font-family: "glacial_indifference", Helvetica, Arial, sans-serif; font-weight: bold; font-size: 20px; line-height: 1; margin: 0; padding: 0; background: none; }
	#mobilemenu { display: none; }
	#mobilemenu a:hover { text-decoration: none; border: none; }


/* #ISOTOPE FILTERING
================================================== */
	.filters-nav { margin-left:10px; }
	.filters-nav li { float:left; margin-right:5px; }
	.filters-nav li a.selected { background: #353535; }
	.filter-container-videos li, .filter-container-galleries li { min-height:162px; }
	.filter-container-discography li, .filter-container-artists li { min-height:303px; }
	.isotope-item { z-index: 2;	}	
	.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
	.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }	
	.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }	
	.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -ms-transform, opacity; -o-transition-property: -o-transform, opacity; transition-property: transform, opacity; }

/* Fancybox
========================================= */
.pp_content { color: #333; }